# engine-strict = true
strict-peer-dependencies = false
# public-hoist-pattern=['*eslint*', '*prettier*', '*typescript*', '*types*']
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*stylelint*
public-hoist-pattern[]=*typescript*
public-hoist-pattern[]=*config*
public-hoist-pattern[]=@storybook*
public-hoist-pattern[]=storybook*
public-hoist-pattern[]=*@testing-library*
public-hoist-pattern[]=*@vitejs*
public-hoist-pattern[]=*vitest*
public-hoist-pattern[]=*@vitest*
